.albumContainer {
  background-color: rgb(238, 232, 225);
  width: 50%;
  border-radius: 20px;
  margin: 1rem auto;
  padding: 1rem;
}
.albumInput {
  margin: 1rem;
  height: 3rem;
  border-radius: 30px;
  padding-left: 1rem;
  font-size: larger;
  width: 90%;
}
.clearButton {
  background-color: #ff0000;
  font-size: larger;
  margin: 1rem;
  margin-left: 13rem;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
  width: 6rem;
}
.createButton {
  background-color: #007bff;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  width: 6rem;
  color: white;
  font-size: larger;
}
/* .form {
  display: flex;
  justify-content: center;
} */
